.project-container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  color: var(--primary-color);
}

.project-heading {
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 75px;
  padding-bottom: 50px;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px #CBDCEB !important;
  background-color: var(--secondary-color) !important;
  color: black !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px var(--primary-color) !important;
}

.project-card-view img {
  height: 200px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.project-row {
  justify-content: center !important;
  padding-bottom: 10px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #608BC1 !important;
  border-color: #608BC1 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}