.project-container {
  position: relative;
  padding: 100px 0 50px;
  color: var(--primary-color);
}

.project-heading {
  font-size: 2.3em;
  font-weight: 500;
  padding: 75px 0 50px;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px #CBDCEB !important;
  background-color: var(--secondary-color) !important;
  color: black !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease !important;
  height: 475px !important; 
  width: 400px;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px var(--primary-color) !important;
}

.project-card-view img {
  height: 200px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.project-row {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important; 
  gap: calc(1rem + 1vw);
  justify-content: center !important;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px 0 30px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #608BC1 !important;
  border-color: #608BC1 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}