.home-header {
  padding: 80px 0 0 15px;
}

.home-section {
  position: relative;
  background: var(--image-gradient), url(../../assets/home-bg.png) no-repeat right center;
  background-size: contain;
  padding: 30px 0;
  min-height: 100vh;
  background-size: 70%;
}

.home-about-social {
  padding-left: 27px !important;
}

.home-content {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

.home-header h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

.home-header p {
  color: #45505b;
  margin: 15px 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif !important;
  padding-left: 15px;
}

.home-header p span {
  color: #0563bb;
  display: inline-block;
  letter-spacing: 1px;
}
