.Typewriter__wrapper {
    padding-left: 30px;
    font-size: 2.2em;
    color: #133E87;
    font-weight: 600;
}
.Typewriter__cursor {
    font-size: 2.4em;
    color: #133E87;
}

@media (max-width: 767px) {
    .Typewriter__wrapper {
        font-size: 1.4em;
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
    }
    .Typewriter__cursor {
        display: none;
    }
}