.footer {
  background-color: var(--primary-color);
  bottom: 0;
  padding: 10px 0 8px;
}

.footer-copywright,
.footer-body {
  text-align: center;
  z-index: 1;
}

@media (max-width: 767px) {
  .footer-copywright,
  .footer-body {
    text-align: center;
  }
}

.footer h3 {
  font-size: 1em;
  color: white;
  margin: 0.5em 0;
}

.footer-icons {
  margin: 0.5em 0;
  padding: 0;
}

.social-icons {
  color: white;
  display: inline-block;
  padding: 0 15px;
}
