.tech-icons {
  font-size: 25px;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  border: 1.7px solid #133E87;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px #608BC1;
  overflow: hidden;
  transition: transform 0.4s ease, border 0.4s ease;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px;
  }
}

.tech-icons:hover {
  transform: scale(1.05);
  border-width: 2.2px;
}

.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}